@model StockholmDashboard.Models.NotebookService
<div class="col-md-5">
    <div class="panel panel-success">
        <div class="panel-heading">
            <h3 class="panel-title">
                @Html.ActionLink(ViewData.Model.Name, "Service", new { id = ViewData.Model.ID })  
        </h3>
        </div>
        <div class="panel-body">
            
            <div class="row">
                <div class="col-md-12">
                    @Html.DisplayFor(m => m.Description)
                </div>

            </div>
            <div class="row">
                <div class="col-md-4">
                    @Html.LabelFor(m => m.UI_Url)
                </div>
                <div class="col-md-8">
                    <a href="@Html.ViewData.Model.UI_Url">@Html.ViewData.Model.UI_Url</a>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    @Html.LabelFor(m => m.Version)
                </div>
                <div id="@(Model.ID + "_version")" class="col-md-8">
                    <span class="glyphicon glyphicon-refresh glyphicon-spin"></span>
                    <script language="javascript">
                        $(document).ready(function() {
                            $("#@(Model.ID + "_version")").load("@this.Url.Action("ServiceVersion", "Home", new {id = Model.ID}, this.Request.Url.Scheme)");
                        });
                    </script>
                </div>
                
            </div>
            
            
        </div>
        
    </div>
    
    
</div>
