@model IEnumerable<StockholmDashboard.Models.TestSummary>
<div class="col-md-12">
    <table>
        <tr>
            @foreach (var ts in Model.Take(50).OrderBy(m => m.Executed))
            {
                
                <td style="padding-right: 1px">
                    <a href="@ts.DetailsUri">
                        <div title="@(ts.Passed) of @(ts.Passed + ts.NotPassed) passed on @(ts.Executed.ToString())" style="height:@(Model.Max(m => m.Passed + m.NotPassed) - ts.NotPassed - ts.Passed)px;width: 3px">

                        </div>
                        <div title="@(ts.Passed) of @(ts.Passed + ts.NotPassed) passed on @(ts.Executed.ToString())" style="height:@(ts.NotPassed)px;width: 13px;background-color: red">

                        </div>
                        <div title="@(ts.Passed) of @(ts.Passed + ts.NotPassed) passed on @(ts.Executed.ToString())" style="height:@(ts.Passed)px;width: 13px;background-color: green">
                            
                            
                        </div>
                        <div style="color:white;-webkit-transform: rotate(270deg);-moz-transform: rotate(270deg);-o-transform: rotate(270deg);writing-mode: lr-tb;width:12px;font-size: smaller;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;@ts.Build</div>
                    </a>
                </td>
                
            }
        </tr>
    </table>

</div>
